# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android
EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyCHAkc8GidR8BwzbZaNqpKmNOi5lujilQA
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=tara-attendance.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=tara-attendance
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=tara-attendance.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=486440755648
EXPO_PUBLIC_FIREBASE_APP_ID=1:486440755648:web:b8e9daceb297feee5f6825